<template name="companyRegister">
	<div class="container">
		<div class="col-md-6">
			<h1>Enregistrement de société</h1>
			{{#autoForm collection="Meteor.users" id="insertCompanyAccount"}}
			<fieldset>
				<legend>Informations obligatoires</legend>
				{{> afQuickField name="username"}}
				{{> afQuickField name="password"}}
				{{> afQuickField name="confirmation"}}
				{{> afQuickField name="companyName"}}
				{{> afQuickField name="email" }}
			</fieldset>
			<button type="submit" class="btn btn-primary">Je crée mon compte Entreprise</button>
			{{/autoForm}}
		</div>
	</div>
	<br />
</template>
