<template name="company">
	<div class="container company">

		{{> companyHeader }}

		{{> companySummary }}

		{{> companyComments }}

		{{> companyMissions }}

	</div>
</template>

<template name="companyHeader">
	<div class="row">
		<div class="col-md-4">
			<img src="/img/profile-pic-placeholder.png" class="profile-pic profile-header" />
		</div>
		<div class="col-md-8">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<h1>{{name}}</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<p>{{getCompanyType}}</p>
						<p><i class="fa fa-briefcase fa-fw" aria-hidden="true"></i> {{getCompanyField}}</p>
						<p><i class="fa fa-users fa-fw" aria-hidden="true"></i> {{getCompanySize}}</p>
					</div>
					<div class="col-md-6">
						<p><i class="fa fa-tachometer fa-fw" aria-hidden="true"></i> {{getCompanyPopularity}}</p>
						<p><i class="fa fa-line-chart fa-fw" aria-hidden="true"></i> {{getCompanyKeyFigures}}</p>
						<p><i class="fa fa-globe fa-fw" aria-hidden="true"></i> {{getCompanyLocation}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<template name="companySummary">
	<div class="row">
		<h2>Présentation de la société</h2>
		{{#markdown}}{{description}}{{/markdown}}
	</div>
</template>

<template name="companyMissions">
	<div class="row">
		<h2>Missions proposées</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mauris nisi, viverra id mauris a, laoreet interdum arcu. Nullam non lorem volutpat mi sollicitudin accumsan. Curabitur pulvinar maximus nibh id pretium. Etiam viverra eros sagittis mi pellentesque ullamcorper. Morbi rutrum semper lectus eget congue. Sed vitae ipsum ullamcorper, tincidunt ipsum posuere, bibendum ipsum. Vivamus finibus dolor vitae libero ullamcorper facilisis. Duis mauris quam, sodales a faucibus nec, pretium et velit. Aliquam ac pulvinar est.</p>
	</div>
</template>

<template name="companyComments">
	<div class="row">
		<h2>Commentaires</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mauris nisi, viverra id mauris a, laoreet interdum arcu. Nullam non lorem volutpat mi sollicitudin accumsan. Curabitur pulvinar maximus nibh id pretium. Etiam viverra eros sagittis mi pellentesque ullamcorper. Morbi rutrum semper lectus eget congue. Sed vitae ipsum ullamcorper, tincidunt ipsum posuere, bibendum ipsum. Vivamus finibus dolor vitae libero ullamcorper facilisis. Duis mauris quam, sodales a faucibus nec, pretium et velit. Aliquam ac pulvinar est.</p>
	</div>
</template>
