<template name="company">
	<div class="container company">

		{{> companyHeader }}

		{{> companySummary }}

		{{> companyComments }}

		{{> companyMissions }}

	</div>
</template>

<template name="companyHeader">
	<div class="row">
		<div class="col-md-4">
			<img src="/img/profile-pic-placeholder.png" class="profile-pic profile-header" />
		</div>
		<div class="col-md-8">
			<h1>Entreprise X</h1>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6">
						<p><i class="fa fa-briefcase" aria-hidden="true"></i> Secteur pro.</p>
						<p><i class="fa fa-globe" aria-hidden="true"></i> Ville</p>
						<p><i class="fa fa-users" aria-hidden="true"></i> Taille société</p>
					</div>
					<div class="col-md-6">
						<p><i class="fa fa-tachometer" aria-hidden="true"></i> Popularité</p>
						<p>Privé/Public</p>
						<p><i class="fa fa-line-chart" aria-hidden="true"></i> Chiffres-clés</p>
					</div>
				</div>
			</div>
		</div>
	</div>

</template>

<template name="companySummary">
	<div class="row">
		<h2>Présentation de la société</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mauris nisi, viverra id mauris a, laoreet interdum arcu. Nullam non lorem volutpat mi sollicitudin accumsan. Curabitur pulvinar maximus nibh id pretium. Etiam viverra eros sagittis mi pellentesque ullamcorper. Morbi rutrum semper lectus eget congue. Sed vitae ipsum ullamcorper, tincidunt ipsum posuere, bibendum ipsum. Vivamus finibus dolor vitae libero ullamcorper facilisis. Duis mauris quam, sodales a faucibus nec, pretium et velit. Aliquam ac pulvinar est.</p>
		<p>Ut vel sapien vel justo tempor rutrum et molestie nunc. Nunc enim dolor, condimentum eu commodo eget, efficitur eu magna. Morbi gravida venenatis lorem, sodales varius nibh rhoncus sit amet. Fusce nibh eros, lacinia vitae nisi id, tristique consectetur tellus. Quisque feugiat ante vitae enim sollicitudin semper. Cras quis pharetra quam. Morbi vitae justo dolor. Vestibulum quis sem nunc. Vestibulum tristique massa tellus, in ullamcorper felis volutpat vitae. Pellentesque tincidunt purus ac volutpat rutrum. Praesent et ullamcorper dolor, quis vehicula nisl. Pellentesque et pellentesque leo, a volutpat nibh. Mauris purus lacus, ultricies sed erat sollicitudin, rutrum hendrerit ligula.</p>
		<p>In id ipsum risus. Sed pretium sit amet dolor id maximus. Curabitur at arcu nulla. Vestibulum id velit a tortor tristique ultricies non a dui. Praesent in lacus a eros eleifend porta ullamcorper iaculis velit. In viverra, nibh eu viverra egestas, sem ante congue sapien, vel pharetra quam erat pharetra justo. Vivamus in odio sem. Praesent vehicula justo ut vehicula elementum. In finibus ex eu nulla rhoncus, sed blandit sem venenatis. Nullam fermentum gravida orci. Vestibulum id metus in orci condimentum consectetur ac viverra lacus.</p>

	</div>
</template>

<template name="companyMissions">
	<div class="row">
		<h2>Missions proposées</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mauris nisi, viverra id mauris a, laoreet interdum arcu. Nullam non lorem volutpat mi sollicitudin accumsan. Curabitur pulvinar maximus nibh id pretium. Etiam viverra eros sagittis mi pellentesque ullamcorper. Morbi rutrum semper lectus eget congue. Sed vitae ipsum ullamcorper, tincidunt ipsum posuere, bibendum ipsum. Vivamus finibus dolor vitae libero ullamcorper facilisis. Duis mauris quam, sodales a faucibus nec, pretium et velit. Aliquam ac pulvinar est.</p>
	</div>
</template>

<template name="companyComments">
	<div class="row">
		<h2>Commentaires</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mauris nisi, viverra id mauris a, laoreet interdum arcu. Nullam non lorem volutpat mi sollicitudin accumsan. Curabitur pulvinar maximus nibh id pretium. Etiam viverra eros sagittis mi pellentesque ullamcorper. Morbi rutrum semper lectus eget congue. Sed vitae ipsum ullamcorper, tincidunt ipsum posuere, bibendum ipsum. Vivamus finibus dolor vitae libero ullamcorper facilisis. Duis mauris quam, sodales a faucibus nec, pretium et velit. Aliquam ac pulvinar est.</p>
	</div>
</template>
