/*Body padding required*/
/* The fixed navbar will overlay your other content,                            */
/* unless you add padding to the top of the <body>. Try out your own values or  */
/* use our snippet below. Tip: By default, the navbar is 50px high.             */

body {
	padding-top: 25px;
	position: relative;
	font-family: 'Fira Sans', sans-serif;
}

a.navbar-brand {
	font-family: 'Fira Sans Condensed', sans-serif;
}

.site-title {
	font-family: 'Fira Sans', sans-serif;
	font-weight: 300;
}

.jumbotron {
	background-color: rgba(36, 36, 36, 0.3);
	padding-top: 50px;
	padding-bottom: 50px;
	margin-bottom: 0px;
	text-shadow: 1px 1px 2px #a9a9a9;
}

.jumbotron-sub {
	background-color: rgba(255, 255, 255, 0.85);
	padding-top: 30px;
	padding-bottom: 30px;
	color: #000;
	text-shadow: 1px 1px 1px #fff;
	min-height: 380px;
}

	.jumbotron-sub h2 {
		/*font-weight: bold;*/
	}

	.jumbotron-sub p {
		font-size: 16px;
	}


.label {
	padding: 2px 6px;
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

li.label > a {
	color: #fff;
	text-decoration: none;
}

li.label > a:hover {
	color: #337ab7;
	text-decoration: none;
}

.toFade {
	color: #919191;
}

.categoryList ul {
	list-style-type: none;
}

.important {
	font-weight: bold;
	color: #474747;
}

.horizontal-table tbody tr td:first-child {
	font-weight: bold;
	color: #474747;
}

.loadingScreen {
	height: 300px;
}

h1#profile {
	margin-top: 10px;
	font-weight: bold;
}

h3.profile-title {
	margin-top: 12px;
	color: #337ab7;
}

img.profile-pic {
	width: 200px;
	height: 200px;
	margin: 5px;
}

section.profile-header {
	align-content: center;
	text-align: center;
}

div.profile-description {
	text-align: justify;
}

h2.profile {
	color: #337ab7;
	/*font-size: 18px;*/
}

.align-left {
	text-align: left;
}

div.experience h3 {
	/*font-size: 17px;*/
	margin-top: 10px;
}

.well-info {
	background: linear-gradient(45deg, rgba(51, 122, 183, 0.6), rgba(51, 122, 183, 0.4));
}


/*************************  footer  ******************************/

.footer {
	background-color: #202024;
	color: #8e8e8e;
	border-top: 1px solid #515151;
	box-shadow: -1px 25px 26px -13px rgba(0, 0, 0, 0.3) inset;
}

	.footer p {
		font-size: 12px;
	}



/********************* Intro (page d'accueil) *********************/
.intro-header {
	color: #f8f8f8;
	background: url(img/intro-bg.jpg) no-repeat center;
	background-size: cover;
	min-height: 800px;
}



.intro-message {
	position: relative;
	padding-top: 20%;
	padding-bottom: 20%;
}

	.intro-message h1 {
		margin: 0;
		text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
		font-size: 5em;
		font-weight: 500;
	}

	.intro-message h3 {
		text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
	}

	.intro-message .well-info {
		/*background: rgba(51, 122, 183, 0.85);*/
		background: rgba(32, 32, 36, 0.75);
	}

.intro-divider {
	width: 500px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-divider-sm {
	width: 200px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}


/********************* Connexion *********************/

.connect-header {
	background: url(img/connect-bg.jpg) no-repeat center;
	background-size: cover;
	padding-right: 0px;
	padding-left: 0px;
}

.connect-message {
	background-color: rgba(255, 255, 255, 0.9);
	position: relative;
	padding-top: 5%;
	padding-bottom: 15%;
}

/*************** Loading  ****************/
.pad-div {
	padding-top: 20%;
	padding-bottom: 20%;
}

/**** alerts overrides */
.alert-header {
	margin-bottom: 0px;
	border: 0px;
	border-radius: 0px;
}
/*.alert-warning {
	background-color: rgba(252, 248, 227, 0.85) !important;
}*/

/** navbar : enterprise **/
.navbar-recruiter {
	background-color: #ffffff;
	border-color: rgb(251, 253, 255);
}

	.navbar-recruiter .navbar-toggle {
		border-color: #337ab7;
	}

	.navbar-recruiter .active {
		background-color: #e3f2ff;
	}

	.navbar-recruiter .icon-bar {
		background-color: #337ab7;
	}

.fixed-footer {
	border-top: solid 1px rgb(204, 204, 204);
	background-color: #fff;
	position: fixed;
	height: 45px;
	line-height: 45px;
	bottom: 0;
	width: 100%;
	z-index: 100;
}



/*********************************** en commun ********************************************/

.background-layer {
	background-color: rgba(255, 255, 255, 0.9);
	position: relative;
	/*padding-top: 0px;*/
	padding-bottom: 20px;
	min-height: 700px;
}

/***************** Home *****************/
.home-background-image {
	background: url(img/intro-bg.jpg) no-repeat center;
	background-size: cover;
	padding-right: 0;
	padding-left: 0;
}

/***************** Admin *****************/
.admin-background-image {
	background: url(img/admin-bg.jpg) no-repeat center;
	background-size: cover;
	padding-right: 0;
	padding-left: 0;
}

/*********************************** Freelancers **************************************/
.freelancers-background-image {
	background: url(img/programming-bg.jpg) no-repeat center;
	background-size: cover;
	padding-right: 0;
	padding-left: 0;
}

/*********************************** Missions **************************************/
.missions-background-image {
	background: url(img/missions-bg2.jpg) no-repeat center;
	background-size: cover;
	padding-right: 0;
	padding-left: 0;
}

/************************************* Entreprises *************************************/
.company {
}

	.company h1 {
		color: #337ab7;
		font-weight: bold;
	}

	.company h2 {
		color: #337ab7;
	}

.companies-background-image {
	background: url(img/companies-bg.jpg) no-repeat center;
	background-size: cover;
	padding-right: 0;
	padding-left: 0;
}


/**** Breadcrumb *****/

.breadcrumb {
	background-color: rgba(255, 255, 255, 0);
	margin-bottom: 0px;
	color: #fff;
}

.breadcrumb-background {
	background-color: rgba(16, 16, 16, 0.7);
}

.breadcrumb > .active {
	color: #fff;
}

.breadcrumb li > a {
	color: #f6f5ff;
}

	.breadcrumb li > a:hover {
		color: #fff;
	}


/**** table overrides ****/

.table-hover > tbody > tr:hover {
	background-color: rgba(255,255,255,0.5);
}

.ul-comma-separated {
	padding-left: 5px;
}

.ul-comma-separated li:after {
	content: ",";
	padding-right: 5px;
}

.ul-comma-separated li:before {
	content: "";
}

.ul-comma-separated li:last-child:after {
	content: "";
}
.ul-comma-separated li {
	padding-left: 0;
	padding-right: 0;
}

.admin-buttons {
	background-color: rgba(0, 0, 0, 0.5);
}

.mission-description {
}

	.mission-description p {
	}

	.mission-description h1 {
		font-size: 23px;
	}

	.mission-description h2 {
		font-size: 21px;
	}

	.mission-description h3 {
		font-size: 19px;
	}

	.mission-description h4 {
		font-size: 16px;
	}

.mission-label {
	line-height: 1.26em;
}

/**************************** Profil indépendant ****************************/
.freelance-description {
	padding-left: 10px;
	border-left: 1px solid #337ab7;
}

	.freelance-description p {
	}

	.freelance-description h1 {
		font-size: 22px;
	}

	.freelance-description h2 {
		font-size: 20px;
	}

	.freelance-description h3 {
		font-size: 18px;
	}

	.freelance-description h4 {
		font-size: 16px;
	}
	.freelance-description h5 {
		font-size: 15px;
	}
	.freelance-description h6 {
		font-size: 14px;
	}

.freelance-label {
	line-height: 1.26em;
}

.freelance-experience-separator {
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left, #f5f5f5, #c2c2c2, #f5f5f5);
	background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

#select-freelancer {
	padding-top: 10px;
}

a {
	transition: color 0.2s linear;
	-moz-transition: color 0.2s linear;
	-webkit-transition: color 0.2s linear;
}

	a.footer-link {
		color: #8e8e8e;
	}

.div-cgu {
	height: 200px;
}

.nav > li > a.skill-filter {
	position: relative;
	display: block;
	padding: 5px;
	margin: 1px;
	background-color: lightgray;
}
