<template name="linkedin">
	<h3>Import profil LinkedIn</h3>
	{{#if accessToken}}
	<p>Vous êtes déjà authentifié sur LinkedIn.</p>
	<a id="btn-linkedin-profile-info" href="#" class="btn btn-primary"><i class="fa fa-linkedin" aria-hidden="true"></i> Récup infos profil</a>

	{{else}}
	<p>Vous allez être redirigé vers la page d'authentification de LinkedIn</p>
	<a id="btn-linkedin-authorize" href="{{getLinkedInUri}}" class="btn btn-primary"><i class="fa fa-linkedin" aria-hidden="true"></i> S'authentifier</a>
	{{/if}}

</template>