<template name="admin">
	<div class="container-fluid admin-background-image">

		<div class="container-fluid hidden-xs breadcrumb-background">
			<ol class="breadcrumb">
				<li><a href="{{pathFor route='home'}}"><i class="fa fa-home" aria-hidden="true"></i></a></li>
				<li class="active">Administration Indie IT</li>
			</ol>
		</div>

		<div class="container background-layer">
			<div class="row">
				<div class="col-md-12">
					<h2><i class="fa fa-gavel fa-fw" aria-hidden="true"></i> Administration Indie IT</h2>
					{{#if isAdmin}}
					<br />

					{{> tabular table=TabularTables.Actions class="table table-striped table-bordered"}}

					{{else}}
					<p>Non autorisé</p>
					{{/if}}
				</div>
			</div>
		</div>
	</div>

</template>