<template name="passwordRecover">

	<div class="container-fluid connect-header">

		<div class="connect-message">
		
			<div class="container">

				<div class="row">
					<div class="col-md-12">
						<h1>Oubli de mot de passe</h1>
					</div>
				</div>

				{{#if currentUser}}

				<p>Vous êtes déjà connecté.</p>
				<br/>
				<p><a href="{{pathFor route='home'}}" class="btn btn-default"><i class="fa fa-home fa-fw" aria-hidden="true"></i> Retour à l'accueil</a></p>

				{{else}}

				<div class="row">
					<div class="col-sd-6 col-md-6 col-lg-6">
						<form>
							<div class="form-group">
								<label for="password">Nouveau mot de passe</label>
								<input id="password" class="form-control" type="password" />

								<label for="password-confirm">Confirmation</label>
								<input id="password-confirm" class="form-control" type="password" />

							</div>
							<button class="btn btn-primary">Mettre à jour mon mot de passe</button>
						</form>
					</div>
				</div>

				{{/if}}
			</div>

		</div>

	</div>

</template>
