<template name="freelance-list">
	{{setTitle 'Liste des profils'}}
	<div class="container-fluid freelancers-background-image">
		<div class="container-fluid hidden-xs breadcrumb-background">
			<ol class="breadcrumb">
				<li><a href="{{pathFor route='home'}}"><i class="fa fa-home" aria-hidden="true"></i></a></li>
				<li class="active">Tous les indépendants</li>
			</ol>
		</div>
		<div class="container background-layer">
			<h2>Liste des indépendants IndieIT</h2>
			{{> tabular table=TabularTables.FreelanceList id="tableFreelanceList" class="table table-striped table-hover" }}
		</div>
	</div>
</template>

<template name="singleFreelanceDisplay">
	<strong>
        <a href="{{pathFor route='freelance-profile' _id=_id }}">{{getFreelanceTitle}}</a>
    </strong>
	{{#if hasSkills}}<p><ul class="list-inline ul-comma-separated">{{#each skills}}<li class="no-space">{{this.name}}</li>{{/each}}</ul></p>{{/if}}
</template>
