<template name="freelance-update">
	{{setTitle 'Mise à jour de profil'}}
	<div class="container-fluid hidden-xs breadcrumb-background">
		<ol class="breadcrumb">
			<li><a href="{{pathFor route='home'}}"><i class="fa fa-home" aria-hidden="true"></i></a></li>
			<li><a href="{{pathFor route='freelance-list'}}">Liste des indépendants</a></li>
			<!--<li><a href="{{pathFor 'freelance-profile' _id=profile._id}}">{{profile.firstName}} {{profile.lastName}}</a></li>-->
			<li class="active">Mise à jour de profil</li>
		</ol>
	</div>
	<div class="container-fluid">
		<div class="col-sm-4 col-md-3 col-lg-2">
			<ul class="nav">
				<li><a href="#" class="{{isActive}}" id="contact"><i class="fa fa-id-badge" aria-hidden="true"></i> Mes coordonnées</a></li>
				<li><a href="#" class="{{isActive}}" id="search"><i class="fa fa-search" aria-hidden="true"></i> Ma recherche</a></li>
				<li><a href="#" class="{{isActive}}" id="profile"><i class="fa fa-user" aria-hidden="true"></i> Mon profil</a></li>
				<li><a href="#" class="{{isActive}}" id="skills"><i class="fa fa-user" aria-hidden="true"></i> Mes compétences</a></li>
				<li><a href="#" class="{{isActive}}" id="education"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Ma formation</a></li>
				<li><a href="#" class="{{isActive}}" id="jobs"><i class="fa fa-briefcase"></i> Mes expériences</a></li>
				<li><a href="#" class="{{isActive}}" id="notifications"><i class="fa fa-bell"></i> Mes notifications</a></li>
			</ul>
		</div>
		<div class="col-sm-8 col-md-9 col-lg-10">
			{{#autoForm collection="FreelanceProfile" id="freelance.createorupdate" doc=profile }}
			<div class="row">
				{{> Template.dynamic template=getTemplateName data=profile}}
			</div>
			<div class="row">
				<button type="submit" class="btn btn-primary">Mettre à jour mon profil</button>
			</div>
			{{/autoForm}}
		</div>
	</div>
	<br/>
</template>

<template name="freelance-update-contact">
	<div class="col-md-6">
		<fieldset>
			<legend><i class="fa fa-user" aria-hidden="true"></i> Mes coordonnées</legend>
			{{> afQuickField name='contact'}}
		</fieldset>
	</div>
	<div class="col-md-4">
		<div class="text-center">
			<fieldset>
				<legend><i class="fa fa-user" aria-hidden="true"></i> Ma photo de profil</legend>
				<div class="row">
					<img id="profile-pic-image" class="profile-pic" src="{{getProfilePicSrc}}" />
				</div>
				<div class="row">
					<input id="profile-pic-file-input" type="file" name="userimage" accept="image/*" />
				</div>
			</fieldset>
		</div>
	</div>
</template>

<template name="freelance-update-search">
	<fieldset>
		<legend><i class="fa fa-search" aria-hidden="true"></i> Ma recherche</legend>
		{{> afQuickField name='search'}}
	</fieldset>
</template>

<template name="freelance-update-profile">
	<fieldset>
		<legend><i class="fa fa-user" aria-hidden="true"></i> Mon profil</legend>
		{{> afQuickField name='profile'}}
	</fieldset>
</template>

<template name="freelance-update-skills">
	<fieldset>
		<legend><i class="fa fa-user" aria-hidden="true"></i> Mes compétences</legend>
		{{> afQuickField name='skills'}}
	</fieldset>
</template>

<template name="freelance-update-education">
	<fieldset>
		<legend><i class="fa fa-graduation-cap" aria-hidden="true"></i> Ma formation</legend>
		{{> afQuickField name='education'}}
	</fieldset>
</template>

<template name="freelance-update-jobs">
	<fieldset>
		<legend><i class="fa fa-briefcase" aria-hidden="true"></i> Mes expériences professionnelles</legend>
		{{> afQuickField name='experience'}}
	</fieldset>
</template>

<template name="freelance-update-notifications">
	<fieldset>
		<legend><i class="fa fa-briefcase" aria-hidden="true"></i> Mes expériences professionnelles</legend>
		{{> afQuickField name='notifications'}}
	</fieldset>
</template>

<template name="loading-modal-generic">
	<div class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">{{title}}</h4>
				</div>
				<div class="modal-body">
					<p>{{text}}</p>
					<div class="progress">
						<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="1" style="width: 100%">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
