<template name="freelance-list">
	{{setTitle 'Liste des profils'}}
	<div class="container-fluid freelancers-background-image">
		<div class="container-fluid hidden-xs breadcrumb-background">
			<ol class="breadcrumb">
				<li><a href="{{pathFor route='home'}}"><i class="fa fa-home" aria-hidden="true"></i></a></li>
				<li class="active">Tous les indépendants</li>
			</ol>
		</div>
		<div class="container background-layer">
			<h2>Liste des indépendants IndieIT</h2>

			<a id="toggle-filter" class="btn btn-default">
			  <i class="fa fa-code fa-fw" aria-hidden="true"></i> Filter par technologies
		  	</a>

			<div id="nav-skills" style="display: none;">
				<ul class="nav nav-pills" role="tablist">
					{{#each getAllSkills}}
					<li role="presentation" class="{{getClassForSkillFilter this.name}}"><a href="#" id="{{this.name}}" class="skill-filter">{{this.name}} <span class="badge">{{this.count}}</span></a></li>
					{{/each}}
				</ul>
			</div>

			{{#if getSkillFilter}}
				<p>Technologie sélectionnée:
					<a href=# id="close-filter">{{getSkillFilter}}&nbsp;<i class="fa fa-times-circle fa-fw" aria-hidden="true"></i></a>
				</p>
			{{/if}}

			{{> tabular table=TabularTables.FreelanceList id="tableFreelanceList" class="table table-striped table-hover" selector=selector }}

		</div>
	</div>
</template>

<template name="singleFreelanceDisplay">
	<strong>
        <a href="{{pathFor route='freelance-profile' _id=_id }}">{{getFreelanceTitle}}</a>
    </strong>
	{{#if hasSkills}}<p><ul class="list-inline ul-comma-separated">{{#each skills}}<li>{{this.name}}</li>{{/each}}</ul></p>{{/if}}
</template>
