<template name="mission">
	<div class="container">

		<div class="row">
			<h3>{{mission.name}}</h3>
		</div>

		{{#if isInRole 'admin'}}
		<div class="row">
			<div class="col-md-4">
				<h3><span class="label label-primary"><i class="fa fa-cogs" aria-hidden="true"></i> {{mission.currentState}}</span></h3>
			</div>
			<div class="col-md-8">
				<h3>
					{{#if canValidate}}<a id="action-validate" class="btn btn-primary" href="#" role="button">Valider</a>{{/if}}
					{{#if canAccept}}<a id="action-accept" class="btn btn-primary" href="#" role="button">Accepter</a>{{/if}}
					{{#if canArchive}}<a id="action-archive" class="btn btn-danger" href="#" role="button">Archiver</a>{{/if}}
				</h3>
			</div>
		</div>
		{{/if}}

		<div class="row">

			<!-- A GAUCHE -->
			<div class="col-sm-8 col-md-9">

				{{#if mission.categories}}
				<p class="h4">
					<i class="fa fa-tags" aria-hidden="true"></i> {{#each mission.categories}}<span class="label label-default">{{this}}</span> {{/each}}
				</p>
				{{/if}}

				<p class="h5">
					<i class="fa fa-tags" aria-hidden="true"></i>
					{{#each mission.technos}}<span class="label label-info">{{this}}</span> {{/each}}
				</p>
				<p class="h5">
					<i class="fa fa-tags" aria-hidden="true"></i>
					{{#if mission.level}}<span class="label label-primary">{{mission.level}}</span>{{/if}}
					{{#if mission.type}}<span class="label label-primary">{{mission.type}}</span>{{/if}}
				</p>
				{{#if mission.shortDescription}}<h4><small>{{mission.shortDescription}}</small></h4>{{/if}}

				<div>{{#markdown}}{{mission.description}}{{/markdown}}</div>

			</div>

			<!-- A DROITE -->
			<div class="col-sm-4 col-md-3">
				<div class="alert alert-info" role="alert">
					<p class="hidden-xs">
						{{#each mission.categories}}<span class="label label-default">{{this}}</span> {{/each}}
						{{#if mission.type}}<span class="label label-primary">{{mission.type}}</span>{{/if}}
						{{#if mission.level}}<span class="label label-primary">{{mission.level}}</span>{{/if}}
						{{#each mission.technos}}<span class="label label-info">{{this}}</span> {{/each}}
					</p>


					{{#if mission.organization}}<p><i class="fa fa-building-o fa-fw"></i> {{mission.organization}}</p>{{/if}}
					{{#if mission.location}}<p><i class="fa fa-map-marker fa-fw"></i> {{mission.location}}</p>{{/if}}
					<p><i class="fa fa-calendar fa-fw"></i> Début {{getMissionStart}}</p>
					{{#if mission.duration}}<p><i class="fa fa-clock-o fa-fw"></i> {{getMissionDuration}}</p>{{/if}}
					{{#if mission.averageDailyRate}}<p><i class="fa fa-eur fa-fw"></i> {{mission.averageDailyRate}}€/j</p>{{/if}}
				</div>
			</div>
		</div>

		{{#if canVote}}
		<div class="row">
			<div class="col-md-12">
				{{#if userHasAnswered }}
				<p><strong><span class="glyphicon glyphicon-thumbs-{{ getAnswerClass }}" aria-hidden="true"></span>&nbsp;{{ getAnswerText }}</strong></p>
				{{else}}
				<h3>
					<a id="interested" class="btn btn-primary" href="#" role="button">Intéressé</a>
					<a id="notinterested" class="btn btn-default" href="#" role="button">Pas intéressé</a>
				</h3>
				{{/if}}
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<p><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;{{ getInterestedUsersText }}</p>
			</div>
		</div>
		{{else}}
		<p><i class="fa fa-lock" aria-hidden="true"></i> Il n'est plus possible de postuler pour cette offre de mission.</p>
		{{/if}}

	</div>

</template>
