<template name="missionsList">
	{{setTitle 'Liste des missions'}}
	<div class="container-fluid missions-background-image">

		<div class="container-fluid hidden-xs breadcrumb-background">
			<ol class="breadcrumb">
				<li><a href="{{pathFor route='home'}}"><i class="fa fa-home" aria-hidden="true"></i></a></li>
				<li class="active">Liste des missions</li>
			</ol>
		</div>

		<div class="container background-layer">
			<h3>Liste des missions Indie IT</h3>

			{{#if hasMissions}}

			<table class="table table-hover">
				<thead>
					<tr>
						<th>Catégorie</th>
						<th>Mission</th>
						<th>Lieu</th>
						<th>Niveau</th>
						<th>Date</th>
					</tr>
				</thead>
				<tbody>
					{{#each missions}}
					<tr>
						<td>{{getCategories}}</td>
						<th scope="row">
							<a href="{{pathFor 'mission' _id=_id}}">{{name}}</a>
							<p></p>
						</th>
						<td>{{location}}</td>
						<td>{{level}}</td>
						<td>{{formatDate createdAt}}</td>
					</tr>
					{{/each}}
				</tbody>
			</table>

			{{else}}

			<br />

			<div class="col-md-8">

				<br />
				<p>Il n'y a aucune mission pour l'instant.</p>
				<br />
				<br />
				<div class="alert alert-info fade in">
					<strong><i class="fa fa-info-circle" aria-hidden="true"></i> Au fait!</strong>
					<br />
					<br />
					N'hésitez pas à proposer une mission si vous avez connaissance d'un besoin.<br />
					N'oubliez pas que pour chaque mission proposée aboutissant à l'intégration d'un indépendant du réseau IndieIT, vous êtes rémunéré.<br />
					<br />
					<a href="{{pathFor 'fonctionnement'}}" class="btn btn-default"><i class="fa fa-hand-o-right" aria-hidden="true"></i> En savoir plus</a>
					<a href="{{pathFor 'missionCreate'}}" class="btn btn-primary pull-right"><i class="fa fa-briefcase" aria-hidden="true"></i> Je propose une mission</a>
				</div>

				<br />


			</div>
			{{/if}}
			<br />
		</div>

	</div>
</template>
