<template name="mission">

	<div class="container">

		<div class="row">

			<h3>{{mission.name}} {{#if mission.organization}} @{{mission.organization}} {{/if}}</h3>
		</div>

		<div class="row">

			<!-- A GAUCHE -->
			<div class="col-md-8">

				<p>
					{{#if mission.type}}<span class="label label-primary">{{mission.type}}</span>{{/if}}
					{{#if mission.level}}<span class="label label-primary">{{mission.level}}</span>{{/if}}
					{{#each mission.technos}}<span class="label label-info">{{this}}</span> {{/each}}
				</p>

				{{#if mission.shortDescription}}<h4><small>{{mission.shortDescription}}</small></h4>{{/if}}

				<div>{{#markdown}}{{mission.description}}{{/markdown}}</div>

			</div>

			<!-- A DROITE -->
			<div class="col-md-4">
				<div class="alert alert-info" role="alert">

					{{#if mission.location}}<p><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>&nbsp;{{mission.location}}</p>{{/if}}

					<p><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>&nbsp;Début {{getMissionStart}}</p>

					{{#if mission.duration}}
					<p><span class="glyphicon glyphicon-time" aria-hidden="true"></span>&nbsp;{{getMissionDuration}}</p>
					{{/if}}

					{{#if mission.averageDailyRate}}
					<p><span class="glyphicon glyphicon-euro" aria-hidden="true"></span>&nbsp;{{mission.averageDailyRate}}€/j</p>
					{{/if}}

				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				{{#if userHasAnswered }}
				<p><strong><span class="glyphicon glyphicon-thumbs-{{ getAnswerClass }}" aria-hidden="true"></span>&nbsp;{{ getAnswerText }}</strong></p>
				{{else}}
				<h3>
					<a id="interested" class="btn btn-primary" href="#" role="button">Intéressé</a>
					<a id="notinterested" class="btn btn-default" href="#" role="button">Pas intéressé</a>
				</h3>
				{{/if}}
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<p><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;{{ getInterestedUsersText }}</p>
			</div>
		</div>
	</div>

</template>
