<template name="home">
	{{setTitle 'Accueil'}}
	<div class="intro-header">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="intro-message">

						<!-- <img src="/img/logo-indie-it.jpg"/> -->
						<h1>{{getGlobal 'appName'}}</h1>
						<h3>{{getGlobal 'appDesc'}}</h3>

						{{#if currentUser}}
						<hr class="intro-divider"/>
						<h3>Bonjour <strong>{{ currentUser.username }}</strong>!</h3>

						{{#if hasProfile}}
						{{else}}
						<br/>
						<div class="alert alert-warning alert-dismissible" role="alert">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<i class="fa fa-exclamation-circle" aria-hidden="true"></i> Vous n'avez pas encore créé votre profil.
							Vous pouvez <a href="{{pathFor route='linkedin'}}"><strong>importer votre profil LinkedIn</strong></a> ou bien <a href="{{pathFor route='profile.update'}}"><strong>le renseigner ici</strong></a>.
						</div>
						{{/if}}

						<!--{{#if hasActions}}
						<h4><i class="fa fa-briefcase fa-lg"></i> Les dernières missions</h4>
						<ul id="actions">
							{{#each actions}}
							{{>action}}
							{{/each}}
						</ul>
						{{/if}}-->
						{{/if}}
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

