<template name="home">
	{{setTitle 'Accueil'}}

	{{#if currentUser}}
		{{#if tosNotAccepted}}
			{{> homeAcceptTosAlert}}
		{{/if}}
	{{/if}}

	<div class="intro-header">

		<div class="jumbotron">
			<div class="container">

				<img src="/img/logo-title.png" alt="Indie IT" width="228" height="50" />
				<!-- <h1>Indie IT</h1> -->
				<h3>Le réseau montpelliérain des indépendants IT</h3>

				<br />

				<p>
					Indie IT, c'est une aide à la recherche de missions, de l'entraide et du partage.
					C'est aussi la plateforme de mise en relation des indépendants et des entreprises.
				</p>

				<br/>

				<p>
					<strong><a href="{{pathFor route='fonctionnement'}}" class="btn btn-primary btn-lg"><i class="fa fa-black-tie fa-fw" aria-hidden="true"></i> Indépendant</a></strong>
					&nbsp;
					<strong><a href="{{pathFor route='fonctionnementEntreprise'}}" class="btn btn-primary btn-lg"><i class="fa fa-building fa-fw" aria-hidden="true"></i> Entreprise</a></strong>
				</p>


			</div>
		</div>

		<div class="jumbotron-sub">
			<div class="container">

				<div class="row">

					<div class="col-md-3">
						<h2>Une augmentation de vos revenus</h2>
						<p>Contrairement aux autres sociétés intermédiaires, Indie IT proposera toujours un commissionnement faible pour vous permettre d'augmenter votre rémunération.</p>
						<!--<p><a class="btn btn-default" href="#" role="button">Détails »</a></p>-->
					</div>

					<div class="col-md-3">
						<h2>Une aide pour la recherche de missions</h2>
						<p>Les missions peuvent être proposées directement par les entreprises ou par le réseau d'indépendants qui sont déjà en mission chez un client.</p>
						<!--<p><a class="btn btn-default" href="#" role="button">Voir les missions »</a></p>-->
					</div>

					<div class="col-md-3">
						<h2>Une communauté d'entraide et de partage</h2>
						<p>L'esprit d'entraide et de partage est au coeur de la communauté. Des outils sont mis à disposition du réseau pour faciliter les échanges.</p>
						<!--<p><a class="btn btn-default" href="#" role="button">Voir les forums »</a></p>-->
					</div>

					<div class="col-md-3">
						<h2>Un site gratuit et sans publicité</h2>
						<p>Le site est entièrement gratuit. Nous n'afficherons jamais de publicité. Il n'y a pas d'abonnement et donc pas de surprise. Nous croyons en une transparence totale.</p>
						<!--<p><a class="btn btn-default" href="#" role="button">Détails »</a></p>-->
					</div>

				</div>

				<br/>

				<div class="row">
					<div class="col-md-12">
						<p><i class="fa fa-black-tie" aria-hidden="true"></i> Il y a actuellement {{profilesCount}} indépendants répertoriés sur le site. </p>
					</div>
				</div>

			</div>
		</div>

	</div>
</template>

<template name="homeAcceptTosAlert">
	<div class="alert alert-warning alert-dismissible alert-header" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<strong>Attention!</strong> Vous devez accepter les conditions d'utilisation du site pour pouvoir l'utiliser. <a href="{{pathFor 'cgu'}}"> Cliquez ici pour les consulter</a>.
	</div>
</template>
