<template name="footer">
	<footer class="container-fluid footer ">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<h5><strong>{{getGlobal 'appName'}}</strong>&nbsp;{{getGlobal 'appDesc'}}</h5>
					<!--<hr/>-->
					<p>
						Indie IT s'adresse aux personnes qui travaillent dans le domaine des nouvelles technologies : particulièrement aux indépendants mais également aux personnes souhaitant le devenir.<br />
						L'objectif d'Indie IT est de rassembler au sein d'un même groupement les indépendants en informatique pour leur permettre de se constituer un réseau, de faciliter la recherche de missions et de bénéficier de son esprit d'entraide.<br />
						Indie IT se veut une alternative aux SSII traditionnelles en mettant ses membres au centre du jeu en supprimant les intermédiaires de telles structures et en supprimant les coûts associés.<br />
						Nous proposons une plateforme communautaire à destination des indépendants IT où chaque personne est libre de ses choix tout en faisant partie d'une communauté où il a un rôle à jouer.
					</p>
				</div>
				<div class="col-md-4">
					<h5><strong>Contact</strong></h5>
					<p>Indie IT</p>

					<p><i class="fa fa-envelope fa-fw" aria-hidden="true"></i> <a href="mailto:indieitblog@gmail.com">indieitblog@gmail.com</a></p>

				</div>
			</div>
		</div>
	</footer>
</template>
