<template name="fonctionnementEntreprise">

	<div class="container-fluid home-background-image">

		<div class="container-fluid hidden-xs breadcrumb-background">
			<ol class="breadcrumb">
				<li><a href="{{pathFor route='home'}}"><i class="fa fa-home" aria-hidden="true"></i></a></li>
				<li class="active">Fonctionnement pour les Entreprises</li>
			</ol>
		</div>

		<div class="container background-layer">

			<div class="row">

				<div class="col-md-12">
					<h2>
						Je représente une entreprise et j'aimerais bénéficier des prestations d'un indépendant de votre réseau. Comment ça marche?
					</h2>

					<br />

					<h3><span class="badge">1</span> Je renseigne gratuitement mon profil Entreprise sur le site…</h3>
					<p>…et je suis recontacté par Indie IT pour valider mon profil.</p>

					<h3><span class="badge">2</span> Je propose une mission au réseau…</h3>
					<p>…en rapport avec mon profil. Je suis libre d’accepter ou de refuser n’importe quelle mission.</p>

					<h3><span class="badge">3</span> Je passe un entretien avec l'indépendant</h3>
					<p>…je connais la démarche et les avantages du regroupement d’indépendant.</p>

					<h3><span class="badge">4</span> L'indépendant accepte…</h3>
					<p>…et les contrats sont établis entre le client, Indie IT et moi.</p>

					<h3><span class="badge">5</span> Il réalise la prestation…</h3>
					<p>…et j’entretiens le site pour indiquer ma satisfaction client.</p>

					<h3><span class="badge">6</span> Le travail demandé est achevé…</h3>
					<p>…et j'entretiens le site en indiquant mon niveau de satisfaction. </p>

					<br />

					<a href="{{pathFor route='company.register' }}" class="btn btn-primary btn-lg">
						<i class="fa fa-arrow-right fa-fw" aria-hidden="true"></i> Je crée une page Entreprise, c'est gratuit.
					</a>

				</div>

			</div>
		</div>
	</div>
</template>