<template name="notifications">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-bell fa-fw" aria-hidden="true"></i> Notifications
        {{#if notificationsCount}}
            <span class="badge badge-inverse">{{notificationsCount}}</span>
        {{/if}}
        <b class="caret"></b>
    </a>
    <ul class="notification dropdown-menu">
        {{#each notifications}}
            {{> notificationItem}}
        {{else}}
            <li><a href="#">Pas de notification</a></li>
        {{/each}}
    </ul>
</template>
