<template name="notificationItem">
    <li>
        {{#if read}}
            <a href="{{getAbsoluteUri actionid action.route objectid}}">
                <i class="fa fa-envelope-open-o fa-fw" aria-hidden="true"></i> {{action.text}} ({{timeFromNow date}})
            </a>
        {{else}}
            <a id="{{_id}}" href="{{getAbsoluteUri actionid action.route objectid}}">
                <strong><i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i> {{action.text}}</strong> ({{timeFromNow date}})
            </a>
        {{/if}}
    </li>
</template>
