<template name="experience">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">{{title}} - {{company}} - {{getPeriode}} ({{ getDuration }})</h3>
        </div>
        <div class="panel-body">
            <h5>
                {{#each skills}}
                <span class="label label-info">{{this}}</span>&nbsp;
                {{/each}}
            </h5>
            <div>{{#markdown}}{{description}}{{/markdown}}</div>
        </div>
    </div>
</template>
