<template name="list">
	{{setTitle 'Liste des profils'}}
	<div class="container">
		<ol class="breadcrumb">
			<li><a href="{{pathFor route='home'}}">Accueil</a></li>
			<li class="active">Liste des indépendants</li>
		</ol>

		<h2>Liste des indépendants IndieIT</h2>
		<!-- <ul>
		{{#each profiles}}
			<li>{{title}}</li>
		{{/each}}
		</ul> -->
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Titre</th>
					<th>Disponibilité</th>
					<th>Mise à jour</th>
				</tr>
			</thead>
			<tbody>
				{{#each profiles}}
				<tr>
					<th scope="row"><a href="{{pathFor route='profile'}}">{{ title }}</a></th>
					<td>
						{{#if isAvailable }}
						Oui
						{{else}}
						{{formatDate availDate}}
						{{/if}}
					</td>
					<td>{{ formatDate updated }}</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
</template>
