<template name="update">
	{{setTitle 'Mise à jour de profil'}}

	<div class="container-fluid hidden-xs breadcrumb-background">
		<ol class="breadcrumb">
			<li><a href="{{pathFor route='home'}}"><i class="fa fa-home" aria-hidden="true"></i></a></li>
			<li><a href="{{pathFor route='profile.list'}}">Liste des indépendants</a></li>
			<li><a href="{{pathFor 'profile' _id=profile._id}}">{{profile.firstName}} {{profile.lastName}}</a></li>
			<li class="active">Mise à jour de profil</li>
		</ol>
	</div>

	{{#autoForm collection="UserProfiles" id="userprofile.createorupdate" doc=profile }}
	<div class="container-fluid">


		<section id="coord-search" class="row">
			<div class="col-md-4">
				<img id="profile-pic-image" class="profile-pic" src="{{getProfilePicSrc}}" />
				<input id="profile-pic-file-input" type="file" name="userimage" accept="image/*" />
			</div>
			<div class="col-md-4">
				<fieldset>
					<legend>Mes coordonnées</legend>
					{{> afQuickField name='lastName'}}
					{{> afQuickField name='firstName'}}
					{{> afQuickField name='birthday'}}

					{{> afQuickField name='telephone'}}
					{{> afQuickField name='skype'}}
					{{> afQuickField name='website'}}
				</fieldset>
			</div>
			<div class="col-md-4">
				<fieldset>
					<legend>Ma recherche</legend>
					{{> afQuickField name='isEnRecherche'}}
					{{> afQuickField name='isAvailable'}}
					{{> afQuickField name='availDate'}}
					{{> afQuickField name='categories'}}
					{{> afQuickField name='tjm'}}
				</fieldset>
			</div>
		</section>

		<section id="profile">
			<fieldset>
				<legend>Mon profil</legend>
				{{> afQuickField name='isPrivate'}}
				{{> afQuickField name='title'}}
				{{> afQuickField name='description' rows=6}}
			</fieldset>
		</section>


		<div class="row">
			<section id="skills" class="col-lg-3">
				{{> afQuickField name='skills' }}
			</section>

			<section id="education" class="col-lg-4">
				{{> afQuickField name='education'}}
			</section>

			<section id="experiences" class="col-lg-5">
				{{> afQuickField name='experiences' }}
			</section>
		</div>



		<br />

	</div>

	<div class="container-fluid">
		<div class="row fixed-footer text-center">
			<div class="col-sm-12">
				{{#if userHasProfile }}<a href="{{pathFor 'profile' _id=profile._id}}" class="btn btn-default">Afficher</a>{{/if}}
				<button type="submit" class="btn btn-primary">{{#if userHasProfile }}Mettre à jour{{else}}Créer le profil{{/if}}</button>
			</div>
		</div>
	</div>
	{{/autoForm}}

</template>
